body {
    background-color: black;
    background-image: url(/img/bg_site3.jpg);
}

p {
    color: white;
}

.navbar {
    background-color: black;
}

.indextext {
    padding-top: 300px;
    text-align: center;
    color: white;
}

.aboutmeImage { 
    margin-top: 5rem;   
    width: 80%;    
}

.aboutmeText { 
    margin-top: 6%;      
    color: white;
}

.aboutmeList {
    margin-top: 3rem;
    color: white;
}

.aboutmecont {
    margin-top: 8rem;
        
}

.aboutmecon2{
    margin-left: 4rem;
}

.projectscont {
    margin-top: 10rem;
    align-content: center;
}

.projectsrow {
    padding-left: 3%;
}

.projectsTitle {
    padding-bottom: 1%;    
    text-align: center;
    color: white
}

.card-text {
    color: black;
}

.card {
    width: 23rem;
    height: 27rem;    
    margin-top: 5%;       
}

.resume {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    height: 60%;
}
.resumePic1 {       
    width: 50%;
    height: 50%;
}
.resumePic2 {       
    width: 50%;
    height: 50%;    
}

.formcontainer {
    padding-top: 150px;
    padding-left: 50px;
    text-align: left;
    color: white;
}

.formcolor {
    color: white;
}